*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    padding: 5px;
    
}
.header{
    width: 100%;
    padding: 5px 0px 20px;
    text-align: center;
    background-color: #a456e8;
}
.add input{
    padding: 10px 0px 10px 10px;
    width: 80vh;
}
.add .btnAdd{
    padding: 10px;
    cursor: pointer;
}
li{
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    list-style-type: none;
    background-color: #c996f9;
}
li:nth-child(even) {
    background-color: #e384f4;
}
.close{
    color: black;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
}
.close:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
li.checked{
    text-decoration: line-through;
    color: rgb(71, 71, 71);
    background-color: gray;
}